* {
    scroll-behavior: smooth;
}

.aipage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: skyblue;
    font-family: 'Orbitron';
}

nav {
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.733);
}

.aipage video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 1;
}

.content-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.info {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 3px 12px;
    border: 1px solid skyblue;
    margin-left: 5px;
    margin-top: 10px;
    transition: .5s ease;
    cursor: pointer;
}

.info:hover {
    background-color: skyblue;
    color: black;
    transition: .5s ease;
}

.content-bg input {
    width: 55%;
    margin-left: 5%;
    height: 40px;
    position: fixed;
    bottom: 15px;
    left: 0;
    border-radius: 30px;
    border: 1px solid skyblue;
    background-color: transparent;
    color: white;
    padding-left: 15px;
    padding-right: 30%;
    z-index: 1;
    font-family: 'Orbitron';
}

.content-bg input:focus {
    outline: none;
}

.send {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 22px;
    right: 10px;
    margin-right: 8.5%;
    border: 1px solid skyblue;
    background-color: transparent;
    color: white;
    z-index: 2;
}

.send:hover {
    border: 1px solid skyblue;
    background-color: transparent;
    color: skyblue;
}

.chat {
    width: 99.8%;
    height: calc(100vh - 140px);
    background-color: rgba(0, 0, 0, 0.637);
    overflow-y: auto;
    padding-bottom: 200px;
    overflow-x: hidden;
    padding-right: 40px;
}

.chat ul {
    width: 96%;
    list-style: none;
    overflow: auto;
    padding: 20px;
    padding-bottom: 90px;
    overflow: hidden;
}

.chat ul li {
    width: fit-content;
    margin-top: 30px;
    border: 1px solid skyblue;
    padding: 20px;
    padding-bottom: 0px;
    color: white;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0.466);
    line-height: 30px;
    word-wrap: break-word;
    border-radius: 20px;
}

.chat::-webkit-scrollbar {
    width: 7px;
}

@media screen and (max-width:600px) {
    .chat ul {
        margin-left: -5px;
    }

}

@media screen and (max-width:400px) {
    .chat ul li {
        margin-left: -10px;
    }

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

nav h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding-left: 15px;
}

.chat ul {
    display: flex;
    flex-direction: column;
}

.chat ul li:nth-child(odd) {
    border: 1px solid green;
    align-self: flex-end;
    border-radius: 20px;
}

.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 20px;

}

.loader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 400px) {
    .chat {
        padding-bottom: 220px;
    }
}

.input-wrapper {
    width: 100%;
    height: 85px;
    background-color: rgba(10, 10, 10, 0.9);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    backdrop-filter: blur(8px)
}


.buttons {
    width: 100px;
    height: fit-content;
    background-color: red;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin-left: 85%;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.buttons:hover {
    background-color: rgba(255, 0, 0, 0.527);
}

@media screen and (max-width: 950px) {
    .buttons {
        scale: 0;
    }

}

.sends {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 22px;
    right: 50px;
    margin-right: 8.5%;
    border: 1px solid skyblue;
    background-color: transparent;
    color: white;
    z-index: 100;
    cursor: pointer;
}

.sends:hover {
    border: 1px solid skyblue;
    background-color: transparent;
    color: skyblue;
}

.nav-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: skyblue;
    border-radius: 50%;
    z-index: 1000;
    position: absolute;
    top: 30;
    left: 10px;
    text-align: center;
    align-content: center;
}

.nav-button:hover {
    color: white;
}

.ham-burger {
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: skyblue;
    align-content: center;
    justify-items: center;
    transform: translateX(-100%);
    transition: .5s ease;
}

.ham-burger h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.ham-burger ul {
    width: 100%;
    height: 100%;
    list-style: none;
    align-content: center;
    justify-items: center;
    padding: 0;
}

.ham-burger ul li button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: red;
    color: white;
    padding: 0px;
    font-family: 'Orbitron';
    font-size: 20px;
}

.ham-burger ul li {
    margin-top: 50px;
    cursor: pointer;
    font-size: 30px;
}

.ham-burger ul li button:hover {
    background-color: rgba(255, 0, 0, 0.527);
}

.ham-burger ul li a:hover {
    color: white;
}

.ham-burger ul li a {
    color: skyblue;
    text-decoration: none;
}


.hammy {
    transition: .5s ease;
    transform: translateX(0%);
}

@media screen and (max-width:400px) {
    .nav-button {
        margin-top: 17px;
        left: 0;
    }
}

.voice-mode-toggle {
    border-radius: 40px;
    border: 1px solid skyblue;
    background: transparent;
    color: skyblue;
    font-size: 20px;
    padding: 15px;
    transition: .5s ease;
}

.voice-mode-toggle:hover {
    background: skyblue;
    color: white;
}

.activate {
    border-radius: 40px;
    background-color: skyblue;
    color: white;
    font-size: 20px;
    padding: 15px;
    transition: .5s ease;
}

.Logout {
    border: 1px solid red;
    padding: 15px;
    color: red;
    transition: .5s ease;
}

.Logout:hover {
    background-color: red;
    color: white;
}

.Confirm {
    position: absolute;
    background-color: white;
    width: 40%;
    height: 40%;
    top: 29%;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: auto;
    scale: 0;
    padding: 0;
    border-radius: 20px;
}

.act {
    transition: .5s ease;
    scale: 1;
}

.Confirm h1 {
    font-size: 20px;
    color: black;
    padding: 0px;
    margin: 0px;
    text-align: center;
}


.Confirm p {
    color: black;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    padding-top: 20px;
}

.nav-button {
    cursor: pointer;
}

.Log-buttons {
    padding-top: 30px;
}

.Log-buttons button:nth-child(1) {
    border: 1px solid black;
    margin-right: 10px;
    background-color: transparent;
    color: black;
    transition: .5s ease;
}

.Log-buttons button:nth-child(1):hover {
    background-color: rgba(0, 0, 0, 0.288);
}

.Log-buttons button {
    cursor: pointer;

}

.info {
    margin-left: 20px;
}

@media screen and (min-width:400px) and (max-width:1100px) {
    .Confirm {
        width: 70%;
        height: 50%;
        left: 15%;
    }

    .Log-buttons button:nth-child(2) {
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width:400px) {
    .Confirm {
        width: 80%;
        height: 55%;
        left: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Log-buttons button:nth-child(2) {
        margin-top: 10px;
    }

    .Log-buttons button:nth-child(1) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.warning {
    font-size: 10px;
    color: black;
    background-color: white;
    padding: 10px;
    position: absolute;
    margin-top: -100px;
    visibility: hidden;
}

.info:hover .warning {
    visibility: visible;
}

@media screen and (min-width:950px) {
    #info {
        opacity: 0;
    }
}

@media screen and (max-width:950px) {
    #info {
        font-size: 20px;
        position: absolute;
        justify-self: flex-end;
        border: 1px solid skyblue;
        text-align: center;
        padding: 0px 10px;
        border-radius: 50%;
        right: 20;
        margin-left: 80%;
        transition: .5s ease;
        cursor: pointer
    }

    #info:hover .warning {
        visibility: visible;
    }

    #info:hover {
        background-color: skyblue;
        color: black;
        transition: .5s ease;
        cursor: pointer
    }

    .info {
        opacity: 0;
    }

    .warning {
        margin: 0px;
        margin-left: -50px;
        margin-top: 5px;
    }
}


.lazy-loader {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: 1000;
    padding-top: 100;
    padding-bottom: 100;
}

.lazy-loader ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.lazy-loader ul li:nth-child(even) {
    width: 30%;
    height: 50px;
    position: relative;
    background: skyblue;
    border-radius: 20px;
    border: none;
    overflow: hidden;
}

.lazy-loader ul li:nth-child(odd) {
    width: 30%;
    height: 50px;
    background: skyblue;
    border-radius: 20px;
    position: relative;
    align-self: flex-end;
    margin-right: 50px;
    border: none;
    overflow: hidden;
}

.lazy-loader ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    100% {
        left: 100%;
    }
}
.strong{
    color:skyblue;
}
#time{
    color:lightgray;
    font-size: 10px;
    align-self: flex-end;
    justify-self: flex-end;
}